* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(/fionts/Poppins-Bold.ttf);
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(/fionts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(/fionts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-MediumItalic';
  src: url(/fionts/Poppins-MediumItalic.ttf);
}


.block {
  overflow-x: hidden;
  background-color: #e5e5e5;
  max-width: 1440px;
  font-family: 'Poppins-Bold', serif;
  font-size: 14px;

  header {
    display: grid;
    grid-template-columns: 60% 1fr;
    background-color: #fff;
    padding: 2% 9%;
    font-size: 16px;

    .logo {
      display: grid;
      grid-column: 1/2;
      background-color: #fff;

      img {
        display: grid;
      }

      nav {
        display: grid;
        grid-column: 2/2;

        ul {
          display: grid;
          grid-template-columns: 30% 25% 45%;

          li {
            display: grid;
            list-style-type: none;
            justify-items: center;
            align-items: center;

            a {
              display: grid;
              text-decoration: none;
              color: #777E90;

            }

            a:hover {
              color: #000;
            }
          }
        }
      }
    }

    .registrations {
      display: grid;
      grid-column: 2/3;
      grid-template-columns: 1fr 20%;
      align-items: center;
      justify-items: end;

      .Login {
        display: grid;
        grid-column: 1/2;
        background-color: #2f75fd;
        border-radius: 24px;
        text-align: center;
        color: #fff;
        height: 100%;
        padding: 3% 10%;
        font-size: 14px;
        border: none;
      }

      nav {
        display: grid;
        grid-column: 2/3;

        ul {
          display: grid;
          grid-template-columns: 1fr 1fr;

          li {
            display: grid;
            list-style-type: none;

            button {
              display: grid;

              text-decoration: none;
              padding: 10px;
              font-size: 14px;
              align-items: center;
              border: none;
              font-family: 'Poppins-Medium', serif;
              color: #777E90;
              background-color: #fff;

            }

            button:hover {
              color: #000;
            }
          }
        }
      }
    }
  }

  .header {
    font-size: 40px;
    padding-top: 50px;
    text-align: center;
    justify-items: center;
    align-items: center;
  }

  .bigPicture {
    background-image: url(/img/Screenshot.png);
    display: grid;
    grid-template-rows: 20% 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-repeat: no-repeat;
    padding-bottom: 120px;

    .advertising {
      margin: 50px;
      display: grid;
      grid-row: 1/2;
      grid-template-columns: 1fr 10% 3%;
      grid-template-rows: 2% 10%;
      width: 70%;
      padding: 30px;
      align-items: center;
      background-image: url(/img/advertising.png);
     background-clip: padding-box;
      background-repeat: no-repeat;
      background-attachment: inherit;
      background-position: center;
      column-gap: 50px;

      h3 {
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        color: #fff;
        padding-top: 30px;
        padding-bottom: 10px;
        font-family: Poppins-Bold, serif;
        font-size: 20px;
      }

      p {
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
        color: #fff;
        padding-bottom: 30px;
        font-family: Poppins-Medium, serif;
        font-size: 14px;
      }


      .cry {
        display: grid;
        grid-column: 2/3;
        grid-row: 1/3;
        background-color: #fff;
        border-radius: 24px;
        text-align: center;
        color: #2f75fd;
        padding: 3% 10%;
        font-size: 14px;
        border: none;
        justify-items: center;
        align-items: center;
        font-family: Poppins-Bold, serif;
        font-size: 14px;
      }

      .close {
        display: grid;
        grid-column: 3/4;
        grid-row: 1/2;
        background-color: inherit;
        border-radius: 24px;
        text-align: center;
        color: #fff;
        padding: 3% 10%;
        font-size: 14px;
        border: none;
        height: 10%;
      }
    }

    h1 {
      display: grid;
      grid-row: 2/3;
      padding-bottom: 80px;
      font-family: Poppins-Bold, serif;
      font-size: 64px;
      color: #fff;
    }

    .play {
      display: grid;
      grid-row: 3/4;
      margin-bottom: 50px;
      background-color: #2f75fd;
      border-radius: 24px;
      text-align: center;
      color: #fff;
      padding: 1% 3%;
      font-size: 14px;
      border: none;

    }
  }

  aside {
    .list {
      overflow-x: auto;
      display: flex;
      gap: 2%;
      padding: 2%;

      .chimeras {
        text-align: center;
        border-radius: 16px;
        background-color: #fff;
        padding-bottom: 2%;

        h4 {
          text-align: center;
          padding: 1%;
        }

        p {
          text-align: center;
          padding: 1%;
        }

        button {
          align-items: center;
          justify-items: center;
          border-radius: 12px;
          color: #fff;
          margin-top: 5%;
          background-color: #2f75fd;
          width: 80%;
          padding: 4%;
          border: none;
          font-size: 16px;
          font-family: 'Poppins-Medium', serif;

        }
      }
    }

    .TopList {
      display: flex;
      padding-top: 100px;
      gap: 2%;
      justify-content: center;

      .chimeras {
        text-align: center;
        background-color: #fff;
        border-radius: 16px;
        padding-bottom: 2%;

        h4 {
          text-align: center;
          padding: 1%;
        }

        p {
          text-align: center;
          padding: 1%;
        }

        button {
          align-items: center;
          justify-items: center;
          width: 80%;
          padding: 4%;
          border-radius: 12px;
          color: #fff;
          margin-top: 5%;
          background-color: #e6e8ec;
          border: none;
          font-size: 16px;
          font-family: 'Poppins-Medium', serif;
        }
      }
    }
  }

  main {
    justify-items: center;
    align-items: center;
    background-color: #e5e5e5;

    h1 {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 64px;
      font-size: 40px;
      font-family: 'Poppins-Bold', serif;
    }

    .Benefits {
      padding: 0 9%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;

      h4 {
        font-family: 'Poppins-Bold', serif;
        font-size: 24px;
      }

      p {
        font-family: 'Poppins-Regular', serif;
        font-size: 16px;
      }

      .lt {
        grid-column: 1/2;
        grid-row: 1/2;
      }

      .ct {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      .rt {
        grid-column: 3/4;
        grid-row: 1/2;
      }

      .lb {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      .cb {
        grid-column: 2/3;
        grid-row: 2/3;
      }

      .rb {
        grid-column: 3/4;
        grid-row: 2/3;
      }

      .lt,
      .ct,
      .rt,
      .lb,
      .cb,
      .rb {
        display: grid;
        text-align: center;
        justify-items: center;
        gap: 3%;
        background-color: #ffffff;
        padding: 10%;
        border-radius: 16px;
      }
    }

    .box-0 {
      display: grid;
      padding: 100px 9% 0;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 50px;

      .box-1 {
        grid-column: 1/2;
      }

      .box-2 {
        grid-column: 2/3;
      }

      .box-3 {
        grid-column: 3/4;
      }

      .box-4 {
        grid-column: 4/5;
      }

      .box-1,
      .box-2,
      .box-3,
      .box-4 {
        display: grid;
        text-align: center;
        background-color: #ffffff;
        padding: 10%;
        justify-items: center;
        align-items: center;
        gap: 33px;
        border-radius: 16px;

        h2 {
          font-family: 'Poppins-Bold', serif;
          font-size: 24px;
        }

        p {
          font-family: 'Poppins-Regular', serif;
          font-size: 16px;
        }
      }
    }

    .map {
      display: grid;
      padding-top: 100px;
      grid-template-columns: 20% 30% 25%;
      text-align: center;
      grid-gap: 50px;
      padding-bottom: 100px;

      h1 {
        text-align: center;
        display: grid;
        grid-column: 1/5;
        padding-bottom: 50px;
        font-family: 'Poppins-Bold', serif;
        font-size: 32px;
      }

      .map-1 {
        grid-column: 1/2;
      }

      .map-2 {
        grid-column: 2/3;
      }

      .map-3 {
        grid-column: 3/4;
      }

      .blockMap {
        height: 300px;
        display: grid;
        grid-column: 1/5;

        .map {
          background-clip: padding-box;
          background-repeat: no-repeat;
          background-attachment: inherit;
          background-position: center;
          background-image: url(/img/xp.png);
        }
      }

      .map-4 {
        grid-column: 1/2;
      }

      .map-5 {
        grid-column: 2/3;
      }

      .map-6 {
        grid-column: 3/4;
      }

      .map-1,
      .map-2,
      .map-3,
      .map-4,
      .map-5,
      .map-6 {
        display: grid;
        background-color: #ffffff;
        justify-items: center;
        align-items: center;
        text-align: center;
        gap: 22px;
        border-radius: 16px;
        padding: 10%;

        h2 {
          font-family: 'Poppins-Bold', serif;
          font-size: 20px;
        }

        p {
          font-family: 'Poppins-MediumItalic', serif;
          font-size: 16px;
        }
      }
    }

    h1 {
      text-align: center;
      padding-top: 100px;
      font-family: Poppins-Bold, serif;
      font-size: 32px;
    }

    .parthers {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr 1fr 1fr 1fr;
      align-items: center;
      justify-items: center;

      background-color: #e5e5e5;

      button {
        display: grid;
        border: none;
        background-color: #e5e5e5;
        width: 90%;
        height: 100%;
        padding: 30% 0;
        align-items: center;
        justify-items: center;
      }

      button:hover {
        filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.73));
        text-decoration: none;
        border-radius: 24px;
        font-size: 14px;
        align-items: center;
        border: none;


      }
    }

    .team {
      text-align: center;
    }

    .team-0 {
      padding-top: 50px;
      display: grid;
      grid-template-columns: 10% 20% 20% 20% 20% 10%;
      justify-items: center;
      align-items: center;

      button {
        align-items: center;
        justify-items: center;
        width: 80%;
        padding: 4%;
        border-radius: 12px;
        color: #fff;
        margin-top: 5%;
        background-color: #e6e8ec;
        border: none;
        font-size: 16px;
        font-family: 'Poppins-Medium', serif;
      }

      .Left {
        background-color: saddlebrown;
      }

      .team-1 {
        grid-column: 2/3;
      }

      .team-2 {
        grid-column: 3/4;
      }

      .team-3 {
        grid-column: 4/5;
      }

      .team-4 {
        grid-column: 5/6;
      }

      img {
        width: 100%;
      }

      .team-1,
      .team-2,
      .team-3,
      .team-4 {
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 5%;

        h3 {
          padding: 1% 0;
          font-family: 'Poppins-Bold', serif;
          font-size: 20px;
        }

        p {
          font-family: 'Poppins-Medium', serif;
          font-size: 16px;
        }
      }
    }
  }

  footer {
    padding-top: 100px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    nav {
      display: grid;

      ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;

        li {
          list-style-type: none;
          padding: 0 12px;
        }
      }
    }

    p {
      font-family: 'Poppins-Medium', serif;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 1100px) {

      max-width: 1080px;
    .blockMap {
      .map {
        background-size: 90%;
      }
    }
  }

  @media screen and (max-width: 600px) {
      max-width: 586px;

    .bigPicture{
      display: flex;
      flex-direction: column;
      .advertising{
        display: block;

        h1{
          display: flex;
          text-align: center;
         flex-direction: column;
        }
        p{
          display: flex;
          text-align: center;
          flex-direction: column;
        }
        .cry{
          display: flex;
          flex-direction: column;
        }
        .close{
          position:relative;
          right: 0;
        }
      }
    }

      main {
      .Benefits {
        display: flex;
        flex-direction: column;
      }

        .parthers {
          display: flex;
          flex-direction: column;
          gap: 50px;
          align-items: center;
          justify-items: center;
          button {
            padding: 0;
          }
        }


        .blockMap {
          height: 300px;
          display: grid;
          grid-column: 1/5;

          .map {
            background-clip: padding-box;
            background-repeat: no-repeat;
            background-attachment: inherit;
            background-position: center;
            background-image: url(/img/1.png);
          }
        }

        .team-0 {
          overflow-y: auto;
          display: flex;

          img {
            width: auto;
            max-height: 100%;
            min-height: 100%;
          }
        }
      }
      footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
      }

    }


  button:active {
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.73));
  }
}

